.modal-content {
    background-color: white;
    padding: 0;
    border-radius: 8px;
    width: 100%;
    max-width: 100%;
    text-align: center;
}

#qr-video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsivo */
@media (max-width: 768px) {
    .modal-content {
        width: 100%;
    }

    #qr-video {
        width: 100%;
        height: auto;
    }
}
